*{
 margin:0;
 padding:0;
}

/* Quote Display */

.first{
    position: relative;
    height:50vh;
    background-color: #4587bd;
    margin: 25px;
    padding:10px;
}

.quote {
    color:white;
    height: 30vh; 
}


/* Add Quote */

.add{

    position: relative;
    background-color: #750075;
    height:25vh;
    margin: 15px;
    
}

.addQuote{

    height: 10vh;
    background-color:#c995c9;
    text-align: center;
    margin-left: 0;
}

.quoteNew{

    width: 85vw;
    height: 50px;
    text-align: center;
}

.authorNew{

    margin:25px;
    width: 60vw;
    height: 30px;
    text-align: center;
}


/* Last Quote Added */

.last{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    height: 12.5vh;
    width: 100vw;
}

.lastQuote{

    color:black;
    
}

.lastAuthor{

    align-self:flex-end;
    color:black;
    
}